<p><label for="post_category_id">Category</label><br/>
<%= collection_select(:post, :category_id, @categories, :id, :name) %></p>

<!-->
<%= form_for([@post, @post.category.build]) do |f| %>


<p>
	<%= f.label :name %> <br>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :body %> <br>
	<%= f.text_field :body %>
</p>

<p>
	<%= f.submit %>
</p>

<% end -%>